<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Content for the edit Operation-->
<div class="container"></div>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
            <!--My division class form group for each label and input-->
                <div class="form-group">
                    <label for="DayTextField">Day</label>
                    <input type="text" class="form-control" id="DayTextField" placeholder="Enter the day" name="Day" value="<%= Book.Day %>" required>
                </div>
                <div class="form-group">
                    <label for="HeartRateTextField">Heart Rate</label>
                    <input type="text" class="form-control" id="HeartRateTextField" placeholder="Enter your heart rate" name="HeartRate" value="<%= Book.HeartRate %>" required>
                </div>
                <div class="form-group">
                    <label for="BloodPressureTextField">Blood Pressure</label>
                    <input type="text" class="form-control" id="BloodPressureTextField" placeholder="Enter your blood pressure" name="BloodPressure" value="<%= Book.BloodPressure %>" required>
                </div>
                <div class="form-group">
                    <label for="BloodSugarTextField">Blood Sugar</label>
                    <input type="text" class="form-control" id="BloodSugarTextField"  placeholder="Enter your blood sugar level" name="BloodSugar" value="<%= Book.BloodSugar %>" required>
                </div>
                <!--Button class for submit-->
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <!--Cancel button class and link to go back to the health list page-->
                <a href="/healthlist" class="btn btn-warning"> 
                    <i class="fas fa-undo"></i> Cancel
                </a>  
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>